header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 1139px;
    height: 68px;
}

header .left {
    display: flex;
    align-items: center;
}

header .logo {
    display: inline-flex;
    width: 30px;
    height: 30px;
    background: url("../images/logo.png");
}

header nav {
    display: flex;
    align-items: center;
    padding-left: 49px;
}

header nav a {
    text-decoration: none;
    font-size: 16px;
    color: #373737;
}

header nav a:focus {
    text-decoration: underline; 
}

header nav a:not(:first-child) {
    margin-left: 37px;
}

header nav a.signin {
    border: 2px solid #373737;
    border-radius: 3px;
    padding: 6px 14px;
    transition: background 1s;
}

header nav a.signin:hover {
    background: rgba(55, 55, 55, 0.075);
}