main {
    padding: 0px calc(calc(100vw - 1139px) / 2);
    padding-top: 28px;
    height: calc(100vh - 68px - 60px);
    box-sizing: border-box;
    overflow: auto;
}

main::-webkit-scrollbar {
    width: 5px;
}

main::-webkit-scrollbar-thumb {
    background: #373737;
    border-radius: 2.5px;
}

main > *:not(:first-child) {
    margin-top: 20px;
}

main h1.title {
    margin: 0px;
    font: normal 25px "Gilroy Black";
    color: #373737;
}

main h1.title > .count {
    color: #7b6641;
}

main .user {
    display: inline-flex;
    align-items: center;
}

main .user > .photo {
    width: 26px;
    height: 26px;
    border-radius: 13px;
}

main .user > .namefamily {
    margin-left: 8px;
    font: normal 14px "ProximaNova Bold";
}

main .products > .list {
    margin-top: 9px;
}

main .products > .list > .product:not(:first-child) {
    margin-top: 16px;
}

main .product {
    display: flex;
    width: 457px;
    box-sizing: border-box;
    background: #373737;
    border-radius: 6px;
    padding: 18px;
    color: white;
}

main .product *::selection {
    color: #373737;
    background: #FFC153;
}

main .product .params > .param:not(:last-child) {
    margin-right: 15px;
}

main .product .param {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
}

main .product .param > .value {
    margin-left: 6px;
}

main .product .param > .view {
    display: inline-flex;
    margin-left: 10px;
}

main .product .color > .view {
    background: var(--color);
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

main .product .size > .view {
    background: white;
    font: normal 13px "ProximaNova Bold";
    color: #373737;
    padding: 2px 7px;
    border-radius: 3px;
}

main .product > .left {
    display: grid;
    width: 100%;
    grid-gap: 26px;
    grid-template-areas: "photo name" "photo ." "photo params";
    grid-template-columns: 90px 1fr;
}

main .product > .left > .photo {
    grid-area: photo;
    display: inline-flex;
    align-items: center;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 10px;
}

main .product > .left > .photo > img {
    width: 100%;
}

main .product > .left > .name {
    grid-area: name;
    font: normal 15px "Gilroy Black"; 
}

main .product > .left > .params {
    grid-area: params;
}

main .product > .right {
    display: flex;
    width: 110px;
    flex-direction: column;
    align-items: flex-end;
}

main .product > .right > .price {
    font: normal 18px "Gilroy Black";
}

main .product > .right > .price > .currency {
    color: rgba(255, 255, 255, 0.48); 
}

main .product > .right > .count {
    font-size: 13px;
}

main .product > .right > .count > .value {
    color: rgba(255, 255, 255, 0.63);
}

main .order > .title {
    display: inline-flex;
    background: #373737;
    color: white;
    font: normal 15px "ProximaNova Regular";
    padding: 7px 14px;
    border-radius: 6px 6px 0px 0px;
}

main .order > .title::selection {
    background: #FFC153;
    color: #373737;
}

main .order > .content {
    width: 847px;
    border: 2px solid #373737;
    border-radius: 0px 6px 6px 6px;
    padding: 14px 30px;
    font-size: 16px;
    color: #373737;
}

main .order > .content > *:not(:first-child) {
    margin-top: 11px;
}

main .order > .content > .param {
    display: flex;
    align-items: center;
}

main .order > .content > .param > .name {
    display: inline-flex;
    margin-right: 6px;
}

main .order > .content > .param > .value {
    display: inline-flex;
}

main .order > .content > .param > .value.user {
    margin-left: 6px;
}

main .order > .content > .param .price {
    font: normal 16px "Gilroy Black";
}

main .order > .content > .param .price > .currency {
    color: rgba(55, 55, 55, 0.68);
}

main .order > .content > .param .select {
    position: relative;
}

main .order > .content > .param .select > select {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

main .order > .content > .param .select > .view {
    text-decoration: underline;
    color: #03528B;
}

main .order > .content > .h-buttons {
    display: flex;
}

main .order > .content > .h-buttons > .button:not(:first-child) {
    margin-left: 10px;
}

main .order > .content .button {
    display: inline-flex;
    background: none;
    border: none;
    cursor: pointer;
    padding: 9px 12px;
    font: normal 14px "Gilroy Medium";
    color: #373737;
    border-radius: 7px;
    outline: none;
}

main .order > .content .button > img {
    display: inline-flex;
    width: 18px;
    height: 18px;
}

main .order > .content .button img:first-child {
    margin-right: 10px;
}

main .order > .content .button.type-1 {
    background: #373737;
    color: white;
}

main .order > .content .button.type-1::selection,
main .order > .content .button.type-1 *::selection {
    background: #FFC153;
    color: #373737;
}

main .orders .order:not(:first-child) {
    margin-top: 20px;
}